.main-footer {
    background-image: url(../../assets/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 0rem 1rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
}

.main-footer p {
    text-transform: none;
    font-size: 0.8rem;
}

.main-footer .logo {
    width: 5rem;
    height: auto;
    position: relative;
    top: 25%;
}

.main-footer .image {
    display: flex;
    justify-content: center;
}

.main-footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    top: 25%;
}
