.main-header {
    height: 3.125rem;
    padding: 0rem 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1.5px var(--base-color-second) solid;
}

.main-header .menu,
.main-header .shop {
    padding: 0 0.313rem;
    font-size: 1.5rem;
    color: var(--base-color-fourth);
}

.main-header button {
    padding: 0;
    display: inline-block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.main-header .logo {
    width: 180px;
    height: auto;
}