.main-categories {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.category.-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.category .box {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 17.75rem;
    width: 11.5rem;
    display: flex;
    justify-content: center;
}

.category .box.blouse {
    background-image: url(../../assets/category/blouse.jpg);
}

.category .box.dress {
    background-image: url(../../assets/category/dress.jpg);
}

.category .box.accessories {
    background-image: url(../../assets/category/accessories.jpg);
}

.category .box.others {
    background-image: url(../../assets/category/others.jpg);
}

@media (min-width: 1200px) {
    .category.-grid {
        display: flex;
        gap: 1.5rem;
    }
    
    .category .box {
        width: 17.2rem;
        height: 27.75rem;
        background-position: top;
    }

    .category .box.blouse {
        background-image: url(../../assets/category/blouse-big.jpg);
    }

    .category .box.dress {
        background-image: url(../../assets/category/dress-big.jpg);
    }

    .category .box.accessories {
        background-image: url(../../assets/category/accessories-big.jpg);
    }

    .category .box.others {
        background-image: url(../../assets/category/others-big.jpg);
    }
}
