.main-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
    align-items: center;
}

.main-category .blouse {
    background-image: url(../../assets/category/blouse.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.main-category .dress {
    background-image: url(../../assets/category/dress.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.main-category .accessories {
    background-image: url(../../assets/category/accessories.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.main-category .others {
    background-image: url(../../assets/category/others.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
}
