.main-visit {
    padding: 2.5rem 1rem;

}

.main-visit .text {
    font-size: .9rem;
    text-transform: none;
}

.main-visit .icon-whatsapp {
    padding-right: .4rem;
    font-size: 1rem;
}

.main-visit .icon-phone, .icon-map-pin, .icon-mail {
    color: var(--base-color-fourth);
    padding-right: .5rem;
    font-size: 1rem;
}

.contact-wrapper {
    grid-template-rows: 1fr 1fr 1fr;
    gap: .7rem;
    display: grid;
    font-size: .8rem;
    font-weight: 500;
    align-items: center;
}

.contact-wrapper p {
    align-items: center;
    display: flex;
}