.main-button {
    padding: 12px 0;
    background-color: var(--base-color-third);
    display: inline-block;
    text-decoration: none;
    border-radius: 0.1875rem;
    color: white;
    border: 0;
    width: 6rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    transition: 200ms linear;
    font-size: 12px;
}

.main-button:hover {
    background-color: var(--base-color-fourth);
    transition: 200ms linear;
}
