.main-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.main-title.second {
    text-align: left;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
    .main-section .main-title {
        font-size: 1.6rem;
    }
}
