.main-button {
    padding: 0.75rem 0;
    background-color: var(--base-color-third);
    display: inline-block;
    text-decoration: none;
    border-radius: 0.1875rem;
    color: white;
    border: 0;
    width: 6rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    transition: 200ms linear;
    font-size: 0.75rem;
    text-align: center;
}

.main-button:hover {
    background-color: var(--base-color-fourth);
    transition: 200ms linear;
}

.main-button.second {
    margin: 1.5rem 0; 
    padding: 0.75rem 0;
    width: 11rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-weight: 500;
    font-size: .8rem;
}
