.category.-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.category .blouse {
    background-image: url(../../assets/category/blouse.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 18.75rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
}

.category .dress {
    background-image: url(../../assets/category/dress.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 18.75rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
}

.category .accessories {
    background-image: url(../../assets/category/accessories.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 18.75rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
}

.category .others {
    background-image: url(../../assets/category/others.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: none;
    height: 18.75rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
}
