.main-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
    align-items: center;
}

.main-category img {
    height: auto;
    width: 200px;
    object-fit: cover;
}

.main-category .category {
    border: none;
    height: auto;
    width: 200px;
}